// Colours

$black: #000;
$white: #fff;
$grey-light:	#ECECEC;
$grey:	#9D9D9D;

// Brand Colours
$red: #FF0000;
$blue: #0000FF;
$green: #00FF00;

// Colour Usage 
$primary: $black;

$btn-bg: $primary;
$btn-color: $white;
$cta-bg:		$primary;
$cta-colour:		$white;
$font-base-colour: $primary;
$form-placeholder: $grey;
$headings: $primary;
$keyline: $grey-light;
$panel-bg: $grey-light;
$select-selected-bg: $green;
$select-selected-color: $black;
$select-arrow-color: $primary;


// Datepicker Variables
$datepicker: $primary;
$datepicker-selected: blue;
$datepicker-gradient: -194deg,
#155c92,
#20366b;