<div class="hero">
  <h1>Visit Glasgow Airport</h1>
  <!-- Put in a span so a screen reader will read out the content above and also the content inside of the div if the image is needed to be described-->
  <span style="background-image: url('')" aria-label="Describe an image if needed"></span>
</div>


<!-- If the background image has no text within it then use this method to describe the image if needed -->
<div class="hero" style="background-image: url('')" aria-label="Describe an image if needed"></div>