<div class="hero">
  <a class="fa fa-play hero__play" href="#videoHero"></a>
</div>

<section class="modal modal--video" id="videoHero" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true" data-stackable="false">

  <div class="modal-inner">
    <div class="modal-content">
      <div class="video-container">
        <div data-role="youtube-video-placeholder" data-youtube-video-id="CyiAfgsMVm4"></div>
      </div>
    </div>
    <a href="#!" class="icon-close"  title="Close this modal" data-dismiss="modal" data-modal="videoHeroClose">Close</a>
  </div>

  <!-- This is covering the page, ::before provides the overlay -->
  <a href="#!" class="modal-close" title="Close this modal" data-dismiss="modal" data-modal="videoHeroClose">&times;</a>

</section>