<a href="#open">Login</a>


<section class="modal" id="open" tabindex="-1" role="dialog" aria-labelledby="modal-label" aria-hidden="true" data-stackable="false">

  <div class="modal-inner">
    <div class="modal-content">
      <h1>Terms & conditions</h1>
    </div>
    <a href="#!"  title="Close this modal" data-dismiss="modal" data-close="Close" aria-label="Close" class="icon-close"></a>
  </div>

  <!-- This is covering the page, ::before provides the overlay -->
  <a href="#!" class="modal-close" title="Close this modal" data-dismiss="modal" data-close="Close">&times;</a>

</section>