<ul>

  {% if page.active == "home" %}
  <li><a href="/" class="active">Home</a></li>
  {% else %}
  <li><a href="/">Home</a></li>
  {% endif %}

  {% if page.active == "about" %}
  <li><a href="/about-us.html" class="active">About Us</a></li>
  {% else %}
  <li><a href="/about-us.html">About Us</a></li>
  {% endif %}

    {% if page.active == "emerging-writer" %}
    <li><a href="/emerging-writer/" class="active">Emerging Writer</a></li>
    {% else %}
    <li><a href="/emerging-writer/">Emerging Writer</a></li>
    {% endif %}


  {% if page.active == "judges-panel" %}
  <li><a href="/judges-panel/" class="active">Judges Panel</a></li>
  {% else %}
  <li><a href="/judges-panel/" >Judges Panel</a></li>
  {% endif %}
</ul>