<!-- This is for local only, the development file's are commented below -->
<!-- Files copied from Bower_components-->
<script src="{{ site.baseurl }}/js/bower/jquery.js"></script>
<script src="{{ site.baseurl }}/js/bower/jquery-ui.js"></script>
<script src="{{ site.baseurl }}/js/bower/velocity.js"></script>
<script src="{{ site.baseurl }}/js/bower/velocity-ui.js"></script>
<script src="{{ site.baseurl }}/js/bower/select2.js"></script>
<script src="{{ site.baseurl }}/js/bower/slick.js"></script>
<script src="{{ site.baseurl }}/js/bower/jquery.lazy.js"></script>
<script src="{{ site.baseurl }}/js/bower/jquery.matchHeight.js"></script>

<!-- Libraries added not in bower-->
<script src="{{ site.baseurl }}/js/libs/modal.js"></script>
<script src="{{ site.baseurl }}/js/libs/lazyframe.min.js"></script>

<!-- Main JS Files-->
<script src="{{ site.baseurl }}/js/ui.js"></script>

<!-- REPLACE THE API -->
<script>
lazyframe('.lazyframe', {
  apikey: 'AIzaSyD6LQXa7uKfbs0-ttmQltQzq0reFddNvMg' // this needs changing as it is using mine currently
});
</script>

<!--  When you run grunt beBuild you get the compiled js 
<script async src="{{ site.baseurl }}/js/all.min.js"></script>-->